{% extends 'base.html' %}

{% block titulo %}
Ranking
{% endblock %}

{% block conteudo %}

<div class="ranking-container">

    <h1>Ranking de Apostadores</h1>

    {% for usuario in usuarios %}

        <div class="ranking-card">

            <h3>

                {% if loop.index == 1 %}
                    🥇
                {% elif loop.index == 2 %}
                    🥈
                {% elif loop.index == 3 %}
                    🥉
                {% endif %}

                {{ loop.index }}º - {{ usuario.nome }}

            </h3>

            <div>

                <p>
                    {{ usuario.acertos }} acertos
                </p>
                    <br>
                <p>
                    {{ usuario.pontos }} pts
                </p>

            </div>

        </div>

    {% endfor %}

</div>

{% endblock %}